/* ==========================================================================
      GLOBAL STYLES
   ========================================================================== */
:root {
  --custom-bg-color: #0a0a0a; /*hsl(246, 35%, 11%);*/
  font-size: 1.4em;
}

.custom-bg {
  background-color: var(--custom-bg-color);
}

h1 {
  font-family: "Pixel NES", Arial, sans-serif, monospace;
  color: #dfa655; 
}

h2, h3, h4, h5, h6 {
  font-family: "Pixel NES", Arial, sans-serif, monospace;
  font-size: 1em;
  color: white; 
}

p {
  font-size: 0.7em;
}

.micro-header {
  font-family: "Pixel NES", Arial, sans-serif, monospace;
  color: #dfa655; 
}

.micro-header:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0px 2px 10px #dfa655 !important;
}

body {
  font-family: Arial, sans-serif, monospace;
  color: #919797;
  background-color: #111717;
  /*background: 
    linear-gradient(to top, #232f2f, #0a0a0a);
    radial-gradient(circle, rgba(236, 91, 8, 0.788), rgba(52, 3, 66, 0.1)), 
    linear-gradient(to top, rgba(102, 13, 110, 0.774), rgb(15, 77, 128));
  background-blend-mode: overlay;*/
}

@font-face {font-family:"Pixel NES";
            src:url("/assets/fonts/Pixel_NES.eot?") format("eot"),
                url("/assets/fonts/Pixel_NES.woff") format("woff"),
                url("/assets/fonts/Pixel_NES.ttf") format("truetype"),
                url("/assets/fonts/Pixel_NES.svg#PixelNES") format("svg");
            font-weight:normal;
            font-style:normal;
}

.btn-custom_card {
  background-color: #282828;
  color: #dfa655;
}
.btn-custom_card:hover {
  background-color: #919797;
  color: #111717;
}

a {
  color: palegoldenrod;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: white;
  text-shadow: 0px 2px 10px #dfa655 !important;
  text-decoration: none;
}

/* ==========================================================================
      HEADER AND NAV BAR
   ========================================================================== */
.pixel-nav-link {
  color: #dfa655;
  font-family: "Pixel NES", monospace;
  font-size: 0.5rem;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.caf-nav-link {
  color: #dfa655;
  font-family: "Pixel NES", monospace;
  font-size: 0.5rem;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.pixel-nav-link:hover,
.caf-nav-link:hover {
  color: palegoldenrod;
  text-shadow: 0px 2px 10px #dfa655 !important;
  text-decoration: none;
}

.pixel-nav-link.active {
  color: white !important;
  text-shadow: 0px 2px 10px palegoldenrod !important;
  text-decoration: none;
}

.pixel-nav-link:focus {
  color: white !important;
  text-shadow: 0px 2px 10px palegoldenrod !important;
  text-decoration: none;
}

.pixel-internal-link {
  color: palegoldenrod;
  font-family: "Pixel NES", monospace;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s ease;
}

.pixel-internal-link:hover {
  color: white;
  text-shadow: 0px 2px 10px #dfa655 !important;
  text-decoration: none;
}

/*.pixel-internal-link.active {
  color: white !important;
  text-shadow: 0px 2px 10px #1B1B1B !important;
  text-decoration: none;
}

.pixel-internal-link:focus {
  color: '#1F305E' !important;
  text-shadow: 0px 2px 10px #1B1B1B !important;
  text-decoration: none;
}*/

footer {
  background-color: #282828;
  position: relative;
  text-align: center;
  height: fit-content;
}

/* ==========================================================================
      CODE PAGE
   ========================================================================== */
.center_para {
  padding: 2%;
  text-align: center;
}

.icon {
  height: auto; 
  width: auto; 
  max-width: 10%; 
  max-height: 10%;
}